<!-- Include header -->
<my-header></my-header>

<div class="wrapper__page">	
	<article class="article article--landing">
		<div id="stars"></div>
		<div id="stars2"></div>
		<div id="stars3"></div>

		<div class="container">
			<div class="article__container">
				<h2 class="article__title">Hello!</h2>

				<pre>
					My name is Triadi Prabowo, people usually called me Adi. I grew up in Jakarta, Indonesia. I am mostly spent my time coding, playing games, and hang-out with my friends. My latest education is Master of IT (M.I.T) from BINUS University in 2017.

					I am striving for excellence and aim to perfection. I like to travel around the world, meeting with people from any backgrounds, or culture. I am always want to be part of interesting and something great, making contribution to community is a thing to be proud of.

					I have experienced study abroad in Amsterdam, Netherlands, back when I was pursuing my bachelor degree. At that time, I am making friends from many continents such as Europe, Africa, Asia, and America. We discussed many things from culture to knowledge and we stiil keep in touch until now!

					I have experienced working in companies that helped me to improve myself and learn about working in professional environment, managing team members relationship, aim to deliver best results, and knowledge in coding skills.
				</pre>
			</div>	

			<div class="article__container">
				<h2 class="article__title">Expertise</h2>

				<pre>Currently, I am focusing in JavaScript development using Node.js:</pre>
				
				<ul class="list list--content">
					<li><b>Languages:</b> TypeScript, Vanilla JavaScript, JSX</li>
					<li><b>Frameworks:</b> Angular.js, Angular 2+ Universal, React.js & Next.js, Express.js, Ionic 1+</li>
					<li><b>Unit Testing:</b> Jasmine, Jest, Karma</li>
					<li><b>Templating:</b> pug.js, ejs, handlebar, @nguniversal</li>
					<li><b>Styling:</b> Stylus, SASS/LESS, styled-components, BEM CSS, CSS Modules, PostCSS</li>
					<li><b>Styling Frameworks:</b> Bootstrap 3+, Material UI</li>
					<li><b>Libraries:</b> jQuery, Angular Material, Redux, RxJS, socket.io, Google Maps, Mapbox, Google Firebase, ngCordova, Underscore/Lodash, ImageMagick, passport.js</li>
					<li><b>Logger / Monitoring Tools:</b> RPM Newrelic, bugsnag, winston.js, morgan, winston-postgres</li>
					<li><b>Build Tools:</b> Gulp, Webpack</li>
					<li><b>Web Services:</b> Nginx, apache2, docker.io, pm2</li>
					<li><b>CI/CD:</b> CircleCI</li>
					<li><b>Cloud Services:</b> AWS (ec2, s3, rds), DigitalOcean</li>
				</ul>
			</div>		

			<div class="article__container">
				<h2 class="article__title">Research Topic Interest</h2>

				<pre>I would like to be part of your team and looking forward to work with you if you have research based on these topics:</pre>
				
				<ul class="list list--underscore">
					<li>Mobile Application</li>
					<li>Web Application</li>
					<li>Application Deployment</li>
					<li>Application Architecture</li>
					<li>GPS & GSM</li>
					<li>Tracking & Monitoring Application</li>
				</ul>
			</div>	
		</div>
	</article>


	<article class="article article--bg-laptop">
		<div class="container">
			<h2 class="article__title">My Work</h2>

			<!-- Include git repositories -->
			<git-repos></git-repos>
		</div>
	</article>

	<article class="article article--landing">
		<div class="container">
			<h2 class="article__title">Galleries</h2>

			<!-- Include instagram galleries -->
			<instagram-photos></instagram-photos>
		</div>
	</article>
</div>