<header class="header">
	<div class="container">
		<div class="row">
			<div class="navigation">
				<a href="javascript:void(0)">About Me</a>
				<a href="javascript:void(0)">My Works</a>
				<a href="javascript:void(0)">Portfolio</a>
				<a href="javascript:void(0)">Contact Me</a>
			</div>

			<div class="wrapper__headline">
				<h1 class="headline">Triadi<br><span class="headline__colorful">Prabowo</span></h1>
				<h3 class="subheadline">Programmer / Full Stack Developer</h3>

				<div class="wrapper__social-headline">
					<ul class="list list--inline list--25">
						<li><a href="//facebook.com/triadiprabowo" target="_blank"><span class="icon icon--lg fab fa-facebook"></span></a></li>
						<li><a href="//twitter.com/triadiprabowo" target="_blank"><span class="icon icon--lg fab fa-twitter"></span></a></li>
						<li><a href="//linkedin.com/in/triadiprabowo" target="_blank"><span class="icon icon--lg fab fa-linkedin"></span></a></li>
						<li><a href="//instagram.com/triadiprabowo" target="_blank"><span class="icon icon--lg fab fa-instagram"></span></a></li>
					</ul>
				</div>
			</div>			
		</div>
	</div>
</header>