@font-face {
	font-family: 'FontContent';
	font-style: normal;
	font-weight: normal;
	src: url('assets/fonts/raleway/Raleway-Light.ttf');
}

@font-face {
	font-family: 'FontHeading';
	font-style: normal;
	font-weight: normal;
	src: url('assets/fonts/amaticsc/AmaticSC-Bold.ttf');
}